
// case with image url added on htmlstyle
.intro-header.bg_img 
{
  background: no-repeat center center;
  background-color: #808080;
  background-attachment: scroll;  
  background-size: cover;
  // margin-bottom: 50px;
}

.intro-header.bg_img .site-heading,
.intro-header.bg_img .post-heading,
.intro-header.bg_img .page-heading 
{
  padding: 100px 0 50px;
  color: white;
}

@media only screen and (min-width: 768px) {
  .intro-header.bg_img .site-heading,
  .intro-header.bg_img .post-heading,
  .intro-header.bg_img .page-heading {
    padding: 150px 0;
  }
}

.intro-header.bg_img .post-heading .meta a {
  color: white;
}