
footer {
  // background-color: $color_bg_color_footer_gl;
  text-align: center;
  padding: 50px 0 65px;
}
// footer .list-inline {
//   margin: 0;
//   padding: 0;
// }
// footer .copyright {
//   font-size: 14px;
//   text-align: center;
//   margin-bottom: 0;
// }
footer span.copyright {
  font-size: 14px;
  // text-align: center;
  margin-bottom: 0;
}
// footer span.copyright {
//     text-transform: uppercase;
//     text-transform: none;
//     font-family: $font_primary_gl;
//     line-height: 40px;
// }

footer ul.quicklinks {
  margin-bottom: 0;
  // text-transform: uppercase;
  // text-transform: none;
  // font-family: $font_primary_gl;
  font-size: 14px;
  line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #404040;
    // -webkit-transition: all .3s;
    // -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: $color_primary_gl;
}