{%comment%}<!--
param in :
common_param:  
  name_id_page
  meta_page  
  direct_items, size_direct_items
  custom_page_config_section
param out :
  html
 -->{%endcomment%}


{% include coll_ext/extract/site_subsection.html 
  path_section=custom_page_config_section
%}

{% comment %}id_slider{% endcomment %}
{% include coll_ext/utils/path/extract_name_id_from_path.html 
  path=custom_page_config_section
%}
{% assign id_slider = name_id | append: '-' | append: name_id_page %}



<!-- Half Page Image Background Carousel Header -->
<header id="{{id_slider}}" class="carousel slide">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for index_item in (0..size_direct_items) %}
      {% assign add_class = '' %}
      {% if forloop.first %}
        {% assign add_class = add_class | append: ' active' %}
      {% endif %}
      <li data-target="#{{id_slider}}" data-slide-to="{{index_item}}" class="{{add_class}}"></li>
    {% endfor %}    
  </ol> 
  
  <!-- Wrapper for Slides -->
  <div class="carousel-inner">

    {% for index_item in (0..size_direct_items) %}
      {% include coll_ext/extract/item/from_direct.html index=index_item %}

      {% assign add_class = 'item' %}
      {% if forloop.first %}
        {% assign add_class = add_class | append:  ' active' %}
      {% endif %}

      <div class="{{add_class}}">
        <!-- Set the first background image using inline CSS below, from url or local. -->
        {% comment %}extract path_img_src{% endcomment %}
        {% include templates/_utils/extract/path_img_src.html 
          path_image=item.image
        %}
       
        <div class="fill" style="background-image:url({{path_img_src}});"></div>

        <div class="carousel-caption">
          {% if forloop.first  %}
            <h1>{{meta_page.subtitle}}</h1>
          {% endif %}
          <h2>{{item.title}}</h2>
          <p>{{item.description}}</p>
        </div>
      </div>

    {% endfor %}   
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#{{id_slider}}" data-slide="prev">
      <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#{{id_slider}}" data-slide="next">
      <span class="icon-next"></span>
  </a>

</header>
