---
layout: compress
---

{% include coll_ext/extract/information_current_page_site.html url_page=page.url %}

<!DOCTYPE html>
<html lang="en">

  {% comment %}Head pages{% endcomment %}
  {% include html_elt/head.html %}

  {% comment %}add angularjs tag if needed{% endcomment %}
  {% assign ang_tag = '' %}
  {% if site.angular_app.active %}
    {% assign ang_tag = 'ng-app="' | append: site.angular_app.name_ng_app | append: '"' %}
    {% unless site.angular_app.activate_on == "all_pages" %}
      {% include coll_ext/html_elt/angular_filter_tag_custom_page.html %}    
    {% endunless %}
  {% endif %}  

  <body id="{{site.data.templates._extra.config.id_page_top}}" {{ang_tag}} >
  {% comment %}note : add angularjs directive ng-app, by default, used or not{% endcomment %}

    {% comment %}default or custom background canvas, see /_data/templates/extra/config.json{% endcomment %}
    {% include coll_ext/html_elt/canvas_style.html %}
    <div canvas="{{canvas_type}}" style="{{canvas_style}}">      

      {% comment %}<div class="Site-body container-body">{% endcomment %}
      <div class="Site-body container-fluid">

        {% comment %}Navigation template pages{% endcomment %}
        {% include coll_ext/html_elt/navigation.html %}

        {% comment %}Header template page_site {% endcomment %}
        {% comment %}extract configuration siteHeaderClass {% endcomment %}
        {% include coll_ext/html_elt/header_design.html
          default_config=site.data.design_site.config
        %}
        <div class="{{siteHeaderClass}}" role="banner">
          {% include coll_ext/html_elt/header.html %}     
        </div>
        {% comment %}+++++++++++++++{% endcomment %}     

        {% comment %}main CONTENT SECTION{% endcomment %}
        {% comment %}<main class="Site-main container-fluid" id="main" role="main">{% endcomment %}
        <main class="Site-main" id="main" role="main">        
          <div class="row" >

            {% comment %}extract configuration col_main/left/right_section{% endcomment %}
            {% include coll_ext/html_elt/content_section_design.html
              default_config=site.data.design_site.config
            %}

            {% comment %}left content_section{% endcomment %}
            {% if col_left_section != '' %} 
            <div class="{{col_left_section}}">
            {% comment %}Sections left Content template page_site{% endcomment %}
              {% include coll_ext/html_elt/sections_left_content.html %}  
            </div>
            {% endif %}
            {% comment %}end left content_section{% endcomment %}


            {% comment %}main content_section{% endcomment %}
            {% if col_main_section != '' %}
            <div class="{{col_main_section}}">

              {% comment %}Default Content template page_site{% endcomment %}
              {% include coll_ext/html_elt/content.html %}
             
              {% comment %}Sections Content template page_site{% endcomment %}
              {% include coll_ext/html_elt/sections_content.html %}
              
            </div>
            {% endif %}
            {% comment %}end main content_section{% endcomment %}

            {% comment %}right content_section{% endcomment %}
            {% if col_right_section != '' %} 
            <div class="{{col_right_section}}">
              {% comment %}Sections right Content template page_site{% endcomment %}
              {% include coll_ext/html_elt/sections_right_content.html %}  
            </div>
            {% endif %}
            {% comment %}end right content_section{% endcomment %}
          </div>
        </main>
        {% comment %}end main CONTENT SECTION{% endcomment %}
        {% comment %}+++++++++++++++++++{% endcomment %}

        {% comment %}Footer template pages{% endcomment %}
        <footer class="Site-footer">
          {% include coll_ext/html_elt/footer.html %}  
        </footer>      
        
      {% include templates/_extra/default_go_to_top_primary.html %}

      </div>{% comment %}end Site-body{% endcomment %}
    </div>{% comment %}end canvas{% endcomment %}

    {% comment %}{% include html_elt/ga.html %}{% endcomment %}

    {% comment %}add script tag{% endcomment %}
    {% include coll_ext/site-config/add-html/js_load_webpack.html %}


    
  </body>
</html>
   

