
.navbar-default {
  background-color: white;
  font-family: $font_primary_gl; //'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  transition: all 0.35s;
  z-index: 999;

  margin-right: 0; //! see @media only screen and (min-width: 768px) below
  padding-right: 0; 
  
}

.navbar-default .navbar-header .navbar-brand {
  // font-family: $font_primary_gl; //'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 800;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: $color_primary_gl;
}

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  // color: #333333;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  // color: $color_primary_gl;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: $color_primary_gl !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}





@media only screen and (min-width: 768px) 
{
 
  .navbar-default  
  {
    background-color: transparent;
    border-bottom: 1px solid transparent;
    // border-color: rgba(white, 0.3);

    margin-right: 15px; //values force to filter scroll bar display attached to canvas (pb with bs .navbar.is-fixed-top)
    padding-right: 5px; // adapted with js, to match scroll bar alignment
                      // in default_navbar_custom.scss,force padding-right with sum : 20px ! 

    .navbar-header .navbar-brand,
    .nav > li > a,
    .nav > li > a:focus
    {
      color: rgba(white, 0.7);
      padding: 1em;
    }

    .nav > li > a:last-of-type  {
      padding-right: 2em;
    }

    .navbar-header .navbar-brand:hover,
    .navbar-header .navbar-brand:focus,
    .nav > li > a:hover,
    .nav > li > a:focus:hover
    {
      color: white;
    }
    
  }  


  //++++++++++++++++++++++++++
  //custom design , color darken case
  .navbar-default.darken
  {
    background-color: rgba(white, 0.9);

    .navbar-header .navbar-brand,
    .nav > li > a,
    .nav > li > a:focus
    {
      color: rgba(#333333, 0.7);
    }    

    .navbar-header .navbar-brand:hover,
    .navbar-header .navbar-brand:focus,
    .nav > li > a:hover,
    .nav > li > a:focus:hover
    {
      color: #333333;
    }
    
  }

 
  //++++++++++++++++++++++++++
  // affix custom default
  .navbar-default.affix {
     background-color: rgba(white, 0.8);
    // background-color: white;
    // border-color: rgba(#333333, 0.05);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #333333; //$color_primary_gl;
    // font-size: 14px;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: $color_primary_gl; //darken($color_primary_gl,10%);
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #333333;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: $color_primary_gl;
  }




 
}